body{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

h1{
    font-size: 36px;
}
section{
    margin: 20px;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

a:hover{
    text-decoration: underline;
}