.diary-main-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.diary-main-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
    gap: 15px;

}

.nav-main{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-main ul{
    display: flex;
    gap: 20px;
}

.diary-header{
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    
}

.diary-header time{
   position:absolute;
   top: 50%;
   right: 3%;
}

.main-h1{
    text-align: center;
    margin: 20px 0;
    background-color: black;
    color: white;
}