@media (max-width: 599px) {
    #nav-li-hamburger{
        display: flex;
    }
    
    .nav-main{
        display: flex;
        justify-content: flex-end;
    }

    .nav-ul-item{
        display: none;
    }
    #container{
        display: flex;
        flex-direction: column;
    }
    .diary-header time{
        font-size: 11px;
}
}

@media (min-width: 600px) and (max-width: 1200px) {
    #nav-li-hamburger{
        display: flex;
    }
     
    .nav-main{
        display: flex;
        justify-content: flex-end;
    }

    .nav-ul-item{
        display: none;
    }

    .nav-ul-item{
        display: none;
    }
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        #right-content{
        border-right: 1px dashed black;
        padding: 100px;}

    #left-content{
        border-right: 1px dashed black;
        padding: 100px;  }
}

@media (min-width: 1201px) {
    #nav-li-hamburger{
        display: none;
    }
    #container{
        display: flex;
        flex-direction: row;
        align-items: start baseline;
        gap: 30px;
        justify-content: space-between;
    }
    #right-content{
        border-left: 1px dashed black;
        padding: 100px;}

    #left-content{
        border-right: 1px dashed black;
        padding: 100px;  }
}